
{% if mails_list %}
	<head>
		<title class = "mdl-layout__title">Smail-Classifier</title>
		{% load static %}
	 	<div id = "label" align="center">
			<h1 style="font-family:Impact;font-size: 45px;color: red;">
				<img src="{% static "mails/smail-logo.png" %}" align ="center" style="width:119px;height:45px;margin-right:6px;margin-top: -7px;" />Classify
			</h1>
		</div>
		<script type="text/javascript">
			var x = screen.width;
			x = "0 " + (x/2).tostring();
			document.getElementById("label").style.margin = x;
		</script>
		<link rel="stylesheet" type="text/css" href="{% static 'mails/style.css' %}" />
		<link rel="stylesheet" href="{% static 'mails/font-awesome-4.7.0/css/font-awesome.min.css' %}" />
		<link rel="stylesheet" href="{% static 'mails/mdl/material.min.css' %}" />
		<script src="{% static 'mails/mdl/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	</head>
	<body style="background-color:#e9ebee;">
		<div id="mySidenav" class="sidenav">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		  <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
		  <!-- <a href="#">Important</a> -->
		  <!-- <a href="#">Spam</a> -->
		  <a href="/0"><i class="fa fa-bandcamp" aria-hidden="true"></i> {{ categoryMap.cat0 }} ({{ categoryCount.cat0 }})</a>
		  <a href="/1"><i class="fa fa-bandcamp" aria-hidden="true"></i> {{ categoryMap.cat1 }} ({{ categoryCount.cat1 }})</a>
		  <a href="/2"><i class="fa fa-bandcamp" aria-hidden="true"></i> {{ categoryMap.cat2 }} ({{ categoryCount.cat2 }})</a>
		  <a href="/3"><i class="fa fa-bandcamp" aria-hidden="true"></i> {{ categoryMap.cat3 }} ({{ categoryCount.cat3 }})</a>
		  <a href="/4"><i class="fa fa-bandcamp" aria-hidden="true"></i> {{ categoryMap.cat4 }} ({{ categoryCount.cat4 }})</a>
		  <a href="/5"><i class="fa fa-bandcamp" aria-hidden="true"></i> {{ categoryMap.cat5 }} ({{ categoryCount.cat5 }})</a>
		  <a href="/6"><i class="fa fa-bandcamp" aria-hidden="true"></i> {{ categoryMap.cat6 }} ({{ categoryCount.cat6 }})</a>
		  <a href="/7"><i class="fa fa-bandcamp" aria-hidden="true"></i> {{ categoryMap.cat7 }} ({{ categoryCount.cat7 }})</a>
		  <a href="/8"><i class="fa fa-bandcamp" aria-hidden="true"></i> {{ categoryMap.cat8 }} ({{ categoryCount.cat8 }})</a>
		  <a href="/9"><i class="fa fa-bandcamp" aria-hidden="true"></i> {{ categoryMap.cat9 }} ({{ categoryCount.cat9 }})</a>
		  <a href="/10"><i class="fa fa-bandcamp" aria-hidden="true"></i> {{ categoryMap.cat10 }} ({{ categoryCount.cat10 }})</a>
		  <a href="/11"><i class="fa fa-bandcamp" aria-hidden="true"></i> {{ categoryMap.cat11 }} ({{ categoryCount.cat11 }})</a>
		  <!-- <a href="#">Others</a> -->
		</div>
		</div>
		<div id = "main">
			<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Categories</span>
			<h4>Category {{ category }}</h4>
		    <ul class="demo-list-control mdl-list">
		    {% for mail in mails_list|slice:"0:" %}
		        <li>
		        	<script type="text/javascript">
		        		var cur_msg = '{{ mail.msg_id }}';
		        		document.write('<a href="/msg/' + cur_msg + '" class="mail"><b>{{ mail.from }} :</b> {{ mail.subject }}</a>');
		        	</script>
		        </li>
		    {% endfor %}
		    </ul>
	    </div>
		<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "300px";
    		document.getElementById("main").style.marginLeft = "300px";
    		document.body.style.backgroundColor = "#365899";
    		document.getElementById("main").style.opacity = "0.3";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
    		document.getElementById("main").style.marginLeft= "0";
    		document.body.style.backgroundColor = "#e9ebee";
    		document.getElementById("main").style.opacity = "1";
		}
		</script>
    </body>
{% else %}
    <p>No mails are available.</p>
{% endif %}