
{% if mails_list %}
	<head>
		<title class = "mdl-layout__title">Smail-Classifier</title>
		{% load static %}
	 	<div id = "label" align="center">
			<h1 style="font-family:Impact;font-size: 45px;color: red;">
				<img src="{% static "mails/smail-logo.png" %}" align ="center" style="width:119px;height:45px;margin-right:6px;margin-top: -7px;" />Classify
			</h1>
		</div>
		<script type="text/javascript">
			var x = screen.width;
			x = "0 " + (x/2).tostring();
			document.getElementById("label").style.margin = x;
		</script>
		<link rel="stylesheet" type="text/css" href="{% static 'mails/style.css' %}" />
		<link rel="stylesheet" href="{% static 'mails/font-awesome-4.7.0/css/font-awesome.min.css' %}" />
		<link rel="stylesheet" href="{% static 'mails/mdl/material.min.css' %}" />
		<script src="{% static 'mails/mdl/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	</head>
	<body style="background-color:#e9ebee;">
		<div id="mySidenav" class="sidenav">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		  <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
		  <!-- <a href="#">Important</a> -->
		  <!-- <a href="#">Spam</a> -->
		  <a href="0"><i class="fa fa-bandcamp" aria-hidden="true"></i> Category 0 ({{ categoryCount.cat0 }})</a>
		  <a href="1"><i class="fa fa-bandcamp" aria-hidden="true"></i> Category 1 ({{ categoryCount.cat1 }})</a>
		  <a href="2"><i class="fa fa-bandcamp" aria-hidden="true"></i> Category 2 ({{ categoryCount.cat2 }})</a>
		  <a href="3"><i class="fa fa-bandcamp" aria-hidden="true"></i> Category 3 ({{ categoryCount.cat3 }})</a>
		  <a href="4"><i class="fa fa-bandcamp" aria-hidden="true"></i> Category 4 ({{ categoryCount.cat4 }})</a>
		  <a href="5"><i class="fa fa-bandcamp" aria-hidden="true"></i> Category 5 ({{ categoryCount.cat5 }})</a>
		  <a href="6"><i class="fa fa-bandcamp" aria-hidden="true"></i> Category 6 ({{ categoryCount.cat6 }})</a>
		  <a href="7"><i class="fa fa-bandcamp" aria-hidden="true"></i> Category 7 ({{ categoryCount.cat7 }})</a>
		  <a href="8"><i class="fa fa-bandcamp" aria-hidden="true"></i> Category 8 ({{ categoryCount.cat8 }})</a>
		  <a href="9"><i class="fa fa-bandcamp" aria-hidden="true"></i> Category 9 ({{ categoryCount.cat9 }})</a>
		  <!-- <a href="#">Others</a> -->
		</div>
		<div id = "main" align = "left">
			<center><h3>Welcome to Smail Classify! Please click on one of the below categories to view the mails belonging to the category. </h3></center>
			<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Categories</span>
		    <ul class="demo-list-control mdl-list">
		    {% for mail in mails_list|slice:"0:" %}
		   	
		    {% endfor %}
		    </ul>
		    <table style = "padding:50px;margin:50px" cellspacing="20">
		    	<tr><td>
		    		<script>var i = (localStorage.getItem("mailsNo");</script>
		    		<button class="button" onclick="window.location.href='/0'" >
				    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-color--teal-50">
				    	<figure class="mdl-card__media">
						    <img src="{% static "mails/gmail2.png" %}" style="background-color:teal;width:250px;height:250px" />
						</figure>
					  <div class="mdl-card__title">
					    <h2 class="mdl-card__title-text">Category 1</h2>
					  </div>
					  <div class="mdl-card__supporting-text">
					    Total : 
					     {{ categoryCount.cat0 }}
					     Mails
					  </div>
					  <div class="mdl-card__actions mdl-card--border">
					    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      2 Unread
					    </a>
					  </div>
					  <div class="mdl-card__menu">
					  </div>
					</div>
				</button>
			</td>
			<td>
		    		<button class="button" onclick="window.location.href='/1'" >
				    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-color--teal-50">
				    	<figure class="mdl-card__media">
						    <img src="{% static "mails/gmail2.png" %}" style="background-color:teal;width:250px;height:250px" />
						</figure>
					  <div class="mdl-card__title">
					    <h2 class="mdl-card__title-text">Category 2</h2>
					  </div>
					  <div class="mdl-card__supporting-text">
					    Total : {{ categoryCount.cat1 }}  
					    Mails
					  </div>
					  <div class="mdl-card__actions mdl-card--border">
					    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      2 Unread
					    </a>
					  </div>
					  <div class="mdl-card__menu">
					  </div>
					</div>
				</button>
			</td>
			<td>
		    		<button class="button" onclick="window.location.href='/2'" >
				    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-color--teal-50">
				    	<figure class="mdl-card__media">
						    <img src="{% static "mails/gmail2.png" %}" style="background-color:teal;width:250px;height:250px" />
						</figure>
					  <div class="mdl-card__title">
					    <h2 class="mdl-card__title-text">Category 3</h2>
					  </div>
					  <div class="mdl-card__supporting-text">
					    Total : {{ categoryCount.cat2 }} Mails
					  </div>
					  <div class="mdl-card__actions mdl-card--border">
					    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      2 Unread
					    </a>
					  </div>
					  <div class="mdl-card__menu">
					  </div>
					</div>
				</button>
			</td>
			<td>
		    		<button class="button" onclick="window.location.href='/3'" >
				    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-color--teal-50">
				    	<figure class="mdl-card__media">
						    <img src="{% static "mails/gmail2.png" %}" style="background-color:teal;width:250px;height:250px" />
						</figure>
					  <div class="mdl-card__title">
					    <h2 class="mdl-card__title-text">Category 4</h2>
					  </div>
					  <div class="mdl-card__supporting-text">
					    Total : {{ categoryCount.cat0 }} Mails
					  </div>
					  <div class="mdl-card__actions mdl-card--border">
					    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      2 Unread
					    </a>
					  </div>
					  <div class="mdl-card__menu">
					  </div>
					</div>
				</button>
			</td>
			</tr>
			<tr>
			<td>
		    		<button class="button" onclick="window.location.href='/4'" >
				    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-color--teal-50">
				    	<figure class="mdl-card__media">
						    <img src="{% static "mails/gmail2.png" %}" style="background-color:teal;width:250px;height:250px" />
						</figure>
					  <div class="mdl-card__title">
					    <h2 class="mdl-card__title-text">Category 5</h2>
					  </div>
					  <div class="mdl-card__supporting-text">
					    Total : {{ categoryCount.cat4 }} Mails
					  </div>
					  <div class="mdl-card__actions mdl-card--border">
					    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      2 Unread
					    </a>
					  </div>
					  <div class="mdl-card__menu">
					  </div>
					</div>
				</button>
			</td>
				<td>
		    		<button class="button" onclick="window.location.href='/5'" >
				    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-color--teal-50">
				    	<figure class="mdl-card__media">
						    <img src="{% static "mails/gmail2.png" %}" style="background-color:teal;width:250px;height:250px" />
						</figure>
					  <div class="mdl-card__title">
					    <h2 class="mdl-card__title-text">Category 6</h2>
					  </div>
					  <div class="mdl-card__supporting-text">
					    Total : {{ categoryCount.cat5 }} Mails
					  </div>
					  <div class="mdl-card__actions mdl-card--border">
					    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      2 Unread
					    </a>
					  </div>
					  <div class="mdl-card__menu">
					  </div>
					</div>
				</button>
			</td>
			<td>
		    		<button class="button" onclick="window.location.href='/6'" >
				    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-color--teal-50">
				    	<figure class="mdl-card__media">
						    <img src="{% static "mails/gmail2.png" %}" style="background-color:teal;width:250px;height:250px" />
						</figure>
					  <div class="mdl-card__title">
					    <h2 class="mdl-card__title-text">Category 7</h2>
					  </div>
					  <div class="mdl-card__supporting-text">
					    Total : {{ categoryCount.cat6 }} Mails
					  </div>
					  <div class="mdl-card__actions mdl-card--border">
					    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      2 Unread
					    </a>
					  </div>
					  <div class="mdl-card__menu">
					  </div>
					</div>
				</button>
			</td>
			<td>
		    		<button class="button" onclick="window.location.href='/7'" >
				    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-color--teal-50">
				    	<figure class="mdl-card__media">
						    <img src="{% static "mails/gmail2.png" %}" style="background-color:teal;width:250px;height:250px" />
						</figure>
					  <div class="mdl-card__title">
					    <h2 class="mdl-card__title-text">Category 8</h2>
					  </div>
					  <div class="mdl-card__supporting-text">
					    Total : {{ categoryCount.cat7 }} Mails
					  </div>
					  <div class="mdl-card__actions mdl-card--border">
					    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      2 Unread
					    </a>
					  </div>
					  <div class="mdl-card__menu">
					  </div>
					</div>
				</button>
			</td>
			</tr>
			<tr>
			<td>
		    		<button class="button" onclick="window.location.href='/8'" >
				    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-color--teal-50">
				    	<figure class="mdl-card__media">
						    <img src="{% static "mails/gmail2.png" %}" style="background-color:teal;width:250px;height:250px" />
						</figure>
					  <div class="mdl-card__title">
					    <h2 class="mdl-card__title-text">Category 9</h2>
					  </div>
					  <div class="mdl-card__supporting-text">
					    Total : {{ categoryCount.cat8 }} Mails
					  </div>
					  <div class="mdl-card__actions mdl-card--border">
					    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      2 Unread
					    </a>
					  </div>
					  <div class="mdl-card__menu">
					  </div>
					</div>
				</button>
			</td>
			<td>
		    		<button class="button" onclick="window.location.href='/9'" >
				    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-color--teal-50">
				    	<figure class="mdl-card__media">
						    <img src="{% static "mails/gmail2.png" %}" style="background-color:teal;width:250px;height:250px" />
						</figure>
					  <div class="mdl-card__title">
					    <h2 class="mdl-card__title-text">Category 10</h2>
					  </div>
					  <div class="mdl-card__supporting-text">
					    Total : {{ categoryCount.cat9 }} Mails
					  </div>
					  <div class="mdl-card__actions mdl-card--border">
					    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      2 Unread
					    </a>
					  </div>
					  <div class="mdl-card__menu">
					  </div>
					</div>
				</button>
			</td>
			</tr>
		</table>

	    </div>
		<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
    		document.getElementById("main").style.marginLeft = "250px";
    		document.body.style.backgroundColor = "#365899";
    		document.getElementById("main").style.opacity = "0.3";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
    		document.getElementById("main").style.marginLeft= "0";
    		document.body.style.backgroundColor = "#e9ebee";
    		document.getElementById("main").style.opacity = "1";
		}

		</script>
    </body>
{% else %}
    <p>No mails are available.</p>
{% endif %}
